/-Wall
/.DS_Store
/.vscode
/CountCharsInFiles.sh
/LoopFiles.sh
/ReadLinesRegex.sh
/WarmUp1.sh
/WarmUp2.sh
/WarmUpRedo1.sh
/WarmUpRedo2.sh
/WarmUpRedo3.sh
/anotha.txt
/check.txt
/copyofevev.txt
/createdbyme.txt
/distributed copy 2.c
/distributed copy.c
/distributed.x
/docdoc
/docmiercuri
/evev.txt
/filetwtwo.txt
/firstBig
/firstBig.c
/firstBig.dSYM
/haha.txt
/new.txt
/newestevev.txt
/omgimdone
/one.txt
/onelast.txt
/os1.txt
/prog
/prog.x
/simple
/testmiercuri.txt
/tryfork.c
/distributed.sym
/link
/new.sym
/newlink
/target